{{ form_start(form,{'attr':{'class':'contact_form mt-md-4'}})}}
<div class="row">
    <div class="col-lg-6 offset-lg-3 mt-5">
        <div class="input-group mb-3">
            <div class="input-group-append">
                {{ form_widget(form.matricule) }}
                {{form_widget(form)}}
                <button type="submit" class="btn theme-btn contact-form-btn border-0" type="button" id="button-addon2"><i class="fa btn-search"></i>Rechercher</button>
            </div>
        </div>
    </div>
</div>

{{form_end(form)}}
