{% extends 'base.html.twig' %}

{% block title %}ASCCI:: Camps regionaux {% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Abidjan <code><a href="{{ absolute_url(path('abidjan_index')) }}">Jambognan</a></code></li>
        <li>Backend <code><a href="{{ absolute_url(path('backend_activite_index')) }}">Activite</a></code></li>
        <li>Backend <code><a href="{{ absolute_url(path('backend_config_index')) }}">Config</a></code></li>
    </ul>
</div>
{% endblock %}
