<form method="post" action="{{ path('admin_gestionnaire_delete', {'id': gestionnaire.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce gestionnaire?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gestionnaire.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
