<form method="post" action="{{ path('backend_config_delete', {'id': config.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette configuration?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ config.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
